// Fonts
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
}
 

img {
    max-width: 100%; 
}

.btn {
    box-shadow: none !important;
}

//Button-css

.btn-primary.active {
    color: #070707 !important;
    background-color: #7EB50C !important;
    border-color: #7EB50C !important;
}

.btn-primary {
    color: #020202 !important;
    background-color: #ddf3bb !important;
    border-color: #ddf3bb !important;
}



.text-primary {
    color: #3949fc !important;
}


// Font-css

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
}



h1,
h2,
h3 {
    font-weight: 600;
}



.boxed {
    &__card {
        height: 100%;

        &-img {
            height: 180px;
        }
    }
}
